page-home {

    .home-content {
        background-color: #ffffff !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    .menu-item {
        height: 25%;
        padding-top:5%;
        width: 100%;
        background-color: #301f13;
        margin-bottom: 2px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        font-size: 16pt;
    }

    .menu-item.activated {
        opacity: 0.5 !important;
    }
}
