page-levelscreen {

        .level-btn {
        height: 20%;
        width: 100%;
        background-color: #301f13;
        margin-top: 2px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        font-size: 16pt;
    }

}
